body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

article {
	margin-bottom: 50px;
}

article h2 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

article p {
	font-size: 1.125rem;
	line-height: 1.8;
	margin-bottom: 1rem;
}

.list-group-item {
	border: none;
	padding: .75rem 1.25rem;
}

.list-group-item a {
	color: #212529;
}

footer {
	background-color: #f8f9fa;
	padding: 15px 0;
}

footer p {
	margin-bottom: 0;
}

@media (max-width: 991px) {
	nav .navbar-nav .nav-item {
		margin-right: 10px;
	}
}
